
<link rel="stylesheet" href="../static_home/home.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% extends 'base.html' %}
{% block body %}
<main>
    <div class="main">
        <section class="productsContainer">
            <z class="productWrapper">
                <div class="prodTextbooks floatItem">
                    <h3 class="prodHeadline pos-text">
                        <pre>Fastrack learning</pre>
                        <p>
                            Hit the books and stay ahead.
                            From algebra to zoology &mdash; textbooks for every subject and schedule.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore textbooks <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                    
                </div>
                <div class="prodClssFurniture floatItem">
                    <h3 class="prodHeadline pos-cls-furn">
                        <pre>Create the perfect learning space</pre>
                        <p>
                            Design the ultimate classroom with just a few clicks.
                            From seating to storage, and so much more: we've got you covered.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore classroom furniture <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                </div>
                <div class="prodSchSupplies floatItem">
                    <h3 class="prodHeadline pos-supplies">
                        <pre>Shop learning supplies</pre>
                        <p>
                            Stock up on classroom essentials in a snap.
                            From notebooks to name tags, everything you need is right here.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore school essentials <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                </div>
                <div class="prodOffFurniture floatItem">
                    <h3 class="prodHeadline pos-off-furn">
                        <pre>Search office upgrades</pre>
                        <p>
                            Refresh your workspace without the hassle.
                            Desks, chairs, and storage solutions &mdash; all just a click away.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore office furniture <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                </div>
                <div class="extra floatItem">
                    <h3 class="prodHeadline pos-discount">
                        <pre>Shop smart &mdash; save more</pre>
                        <p>
                            Big savings made simple.
                            Explore deals and discounts on top products from every category.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore discounts <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                </div>
                <div class="prodTech floatItem">
                    <h3 class="prodHeadline pos-tech">
                        <pre>Power up with the latest tech</pre>
                        <p>
                            Boost productivity with gear that keeps up.
                            Laptops, accessories, and gadgets to power every task.
                        </p>
                        <a href="#" class="prodSubCTA">
                            Explore classroom and office electronics <span class="arrow"><i class="ion-arrow-right-c"></i></span>
                        </a>
                    </h3>
                </div>
            </div>
        </section>
        <section class="c">
            <h2 class="carouselSectionTitle">Popular products</h2>
            <div class="carouselContainer">
                <h2>School & Office supplies</h2>
                <div class="autoplay" id="prodSuppliesCarousel">
                    <a href="{{ url_for('product.product', productId = schoolSupplies[0][4], variantId = schoolSupplies[0][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[0][2] }}" alt="{{ schoolSupplies[0][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[0][0] }} &mdash; {{ schoolSupplies[0][1] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = schoolSupplies[1][4], variantId = schoolSupplies[1][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[1][2] }}" alt="{{ schoolSupplies[1][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[1][0] }} &mdash; {{ schoolSupplies[1][1] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = schoolSupplies[2][4], variantId = schoolSupplies[2][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[2][2] }}" alt="{{ schoolSupplies[2][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[2][0] }} &mdash; {{ schoolSupplies[2][1] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = schoolSupplies[3][4], variantId = schoolSupplies[3][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[3][2] }}" alt="{{ schoolSupplies[3][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[3][0] }} &mdash; {{ schoolSupplies[3][1] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = schoolSupplies[4][4], variantId = schoolSupplies[4][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[4][2] }}" alt="{{ schoolSupplies[4][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[4][0] }} &mdash; {{ schoolSupplies[4][1] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = schoolSupplies[5][4], variantId = schoolSupplies[5][5]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ schoolSupplies[5][2] }}" alt="{{ schoolSupplies[5][3] }}" class="carouselImg">
                        <h3>{{ schoolSupplies[5][0] }} &mdash; {{ schoolSupplies[5][1] }}</h3>
                    </a>
                </div>
            </div>

            <div class="carouselContainer">
                <h2>Classroom & Office Furniture</h2>
                <div class="autoplay" id="prodFurnitureCarousel">
                    <a href="{{ url_for('product.product', productId = officePhotos[0][4]) }}" class="carouselItem">
                        <img style="object-fit: contain;" src="{{ officePhotos[0][2] }}" alt="{{ officePhotos[0][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[0][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[1][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[1][2] }}" alt="{{ officePhotos[1][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[1][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[2][4]) }}" class="carouselItem">
                        <img style="object-fit: cover;" src="{{ officePhotos[2][2] }}" alt="{{ officePhotos[2][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[2][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[3][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[3][2] }}" alt="{{ officePhotos[3][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[3][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[4][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[4][2] }}" alt="{{ officePhotos[4][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[4][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[5][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[5][2] }}" alt="{{ officePhotos[5][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[5][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[6][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[6][2] }}" alt="{{ officePhotos[6][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[6][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[7][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[7][2] }}" alt="{{ officePhotos[7][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[7][0] }}</h3>
                    </a>
                    <a href="{{ url_for('product.product', productId = officePhotos[8][4]) }}" class="carouselItem">
                        <img src="{{ officePhotos[8][2] }}" alt="{{ officePhotos[8][3] }}" class="carouselImg">
                        <h3>{{ officePhotos[8][0] }}</h3>
                    </a>
                </div>
            </div>
            <!-- <div class="autoplay" id="prodTechCarousel">
                <div>
                    <img src="" alt="" class="carouselImg">
                    <h3>test 1</h3>
                </div>
                <div>
                    <img src="" alt="" class="carouselImg">
                    <h3>test 2</h3>
                </div>
                <div>
                    <img src="" alt="" class="carouselImg">
                    <h3>test 3</h3>
                </div>
                <div>
                    <img src="" alt="" class="carouselImg">
                    <h3>test 4</h3>
                </div>
            </div> -->
        </section>
    </div>
    <!-- <button class="slick-next"></button> -->
    <!-- <button class="slick-prev"></button> -->
</main>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $('.autoplay').slick({
            accessibility: true,
            arrows: true,
            nextArrow: '<ion-icon name="chevron-forward-outline" class="slick-next"></ion-icon>',
            prevArrow: '<ion-icon name="chevron-back-outline" class="slick-prev"></ion-icon>',
            dots: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            variableWidth: true,
            autoplay: true,
            autoplaySpeed: 3000,
        });
    });
</script>
{% endblock %}