<link rel="stylesheet" href="../../static/styles/styles.css">
<link rel="stylesheet" href="../static_order/order.css">
<script src="/static_order/scripts/order.js" defer></script>
{% extends 'base.html' %}
{% block body %}
<main class="main">
    <section class="orderSection">
        <h2 class="orderHeader">Order #{{orderId}}:</h2>
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% endif %}
        <div class="previousOrders">
            <div class="orderContainer">
                {% if orderItems %}
                    {% for item in orderItems %}
                        <table class="orderTable">
                            <tr class="orderRow">
                                <td>Product Title: </td>
                                <td>
                                    <a href="{{url_for('product.product', product_id=item.product_id, variant_id=item.variant_id)}}">
                                    {{ item.product_title }}</a>
                                </td>
                            </tr>
                            <tr class="orderRow">
                                <td>Status: </td>
                                <td>{{ item.status.title() }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Quantity: </td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Color: </td>
                                <td>{{ item.color_name }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Size: </td>
                                <td>{{ item.size_description }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Spec: </td>
                                <td>{{ item.spec_description }}</td>
                            </tr>
                        </table>
                    {% endfor %}
                {% else %}
                    <h3 class="noOrders">You have no past orders</h3>
                {% endif %}
            </div>
            
        </div>
    </section>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        button = document.querySelector('.initiate-drop')
        button.addEventListener('click', event => {
            event.preventDefault()
            let dropdown = button.parentElement.querySelector('.dropdown');
            if (dropdown) {
                let isVisible = dropdown.style.display === 'grid';
                dropdown.style.display = isVisible ? 'none' : 'grid';
            }
        });
    });
</script>
{% endblock %}