<link rel="stylesheet" href="../static_order/order.css">
{% extends 'base.html' %}
{% block body %}
<main class="main">
    <section class="orderSection">
        <h2 class="orderHeader">Orders:</h2>
        {% if message %}
            <h3 class="orderMessage">{{ message }}</h3>
        {% endif %}
        <table class="orderTable">
            <tr class="orderRow">
                <td>Order number: </td>
                <td>{{ orders[0].id }}</td>
            </tr>
            <tr class="orderRow">
                <td>Status: </td>
                <td>{{ orders[0].status }}</td>
            </tr>
            <tr class="orderRow">
                <td>Total: </td>
                <td>{{ orders[0].total }}</td>
            </tr>
            <tr class="orderRow">
                <td>Submitted on: </td>
                <td>{{ orders[0].date }}<br>{{ orders[0].time }}</td>
            </tr>
        </table>
        <div class="previousOrders">
            <button class="prevOrdersDrop initiate-drop">Previous Orders <i class="ion-chevron-down"></i></button>
            <div class="dropdown">
                {% for i in range(0, count) %}
                    {% if i != 0 %}
                        <table class="orderTable">
                            <tr class="orderRow">
                                <td>Order number: </td>
                                <td>{{ orders[i].id }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Status: </td>
                                <td>{{ orders[i].status }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Total: </td>
                                <td>{{ orders[i].total }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Submitted on: </td>
                                <td>{{ orders[i].date }}<br>{{ orders[i].time }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td><button class="orderBtn">View order details</button></td>
                                <td><button class="orderBtn">Issues with your order?</button></td>
                            </tr>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </section>
</main>
<script>
    // prevents sending another POST request on refresh
    if (window.history.replaceState)
    window.history.replaceState( null, null, window.location.href );

    document.addEventListener('DOMContentLoaded', () => {
        button = document.querySelector('.initiate-drop')
        button.addEventListener('click', event => {
            event.preventDefault()
            let dropdown = button.parentElement.querySelector('.dropdown');
            if (dropdown) {
                let isVisible = dropdown.style.display === 'grid';
                dropdown.style.display = isVisible ? 'none' : 'grid';
            }
        });
    });
</script>
{% endblock %}