<link rel="stylesheet" href="../../static/styles/styles.css">
<link rel="stylesheet" href="../static_order/order.css">
<script src="/static_order/scripts/order.js" defer></script>
{% extends 'base.html' %}
{% block body %}
<main class="main">
    <section class="orderSection">
        <h2 class="orderHeader">Orders:</h2>
        <div class="previousOrders">
            <div class="orderContainer">
                {% if count %}
                    {% for i in range(0, count) %}
                        <table class="orderTable">
                            <tr class="orderRow">
                                <td>Order number: </td>
                                <td>{{ orders[i].id }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Status: </td>
                                <td>{{ orders[i].status }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Total: </td>
                                <td>{{ orders[i].total }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td>Submitted on: </td>
                                <td>{{ orders[i].date }}<br>{{ orders[i].time }}</td>
                            </tr>
                            <tr class="orderRow">
                                <td><button class="btn orderBtn">View order details</button></td>
                                <td><button class="btn orderBtn" onclick="document.location.href = `{{url_for('complaint.create', orderId=orders[i].id)}}`">Issues with your order?</button></td>
                            </tr>
                        </table>
                    {% endfor %}
                {% else %}
                    <h3 class="noOrders">You have no past orders</h3>
                {% endif %}
            </div>
            
        </div>
    </section>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        button = document.querySelector('.initiate-drop')
        button.addEventListener('click', event => {
            event.preventDefault()
            let dropdown = button.parentElement.querySelector('.dropdown');
            if (dropdown) {
                let isVisible = dropdown.style.display === 'grid';
                dropdown.style.display = isVisible ? 'none' : 'grid';
            }
        });
    });
</script>
{% endblock %}