<link rel="stylesheet" href="/static/styles/styles.css">
<link rel="stylesheet" href="../static_account/account.css">
{% extends 'base.html' %}
{% block body %}
<main>
    <section class="accountSection">
        <h2>Account Details</h2>
        <table class="accountContainer">
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Name</th>
                <th>Account Type</th>
            </tr>
            <tr>
                <td>{{ account.email }}</td>
                <td>{{ account.username }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.type }}</td>
            </tr>
        </table>
        {% if chat %}
            <div class="chatsContainer">
                <h3>Support Tickets</h3>
                <table class="chatsTable">
                    <tr>
                        <td>Ticket ID</td>
                        <td>{{ chat.cid }}</td>
                        <td>Related ID</td>
                        <td>{{ chat.id }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Last Message</td>
                        <td colspan="2" id="formSubmit">{{ chat.text }} <i class="ion-chevron-right"></i></td>
                        <form action="{{ url_for('chat.home') }}" method="GET" name="chat" id="chatForm">
                            <input type="hidden" value="{{ chat.cid }}" name="data" id="input">
                        </form>
                    </tr>
                    <tr>
                        <td colspan="2">Support Personel</td>
                        <td colspan="2">{{ chat.from }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div class="ordersContainer">
            {% if account.type == 'vendor' or account.type == 'admin' %}
                <a href="{{ url_for('product_manage.manage') }}" class="ordersBtn">Manage Products</a>
            {% endif %}
            {% if account.type == 'customer' or account.type == 'vendor' %}
                <a href="{{ url_for('order.order') }}" class="ordersBtn">view orders</a>
            {% endif %}
            {% if account.type == 'customer' or account.type == 'admin' %}
                <a href="{{ url_for('complaint.complaint') }}" class="ordersBtn">view complaints</a>
            {% endif %}
            <a href="{{ url_for('chat.home') }}" class="ordersBtn">view chats</a>
        </div>
        <a class="btn btn-delete top-margin" href="{{url_for('logout')}}">Log Out</a>
    </section>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        button = document.querySelector('.ion-chevron-right')
        button.addEventListener('click', () => {
            document.querySelector('#chatForm').submit()
        })
    })
</script>
{% endblock %}