<link rel="stylesheet" href="/static/styles/styles.css">
{% extends 'base.html' %}
{% block body %}
    <!-- <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Create account</a></li>
        </ul>
    </nav> -->
    <section class="login-container">
        <div class="login-inner">
            <h1 class="login-h1">Login</h1>
            
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form class="login-form" action="/login" method="post">
                <div class="input-row">
                    <div class="fancy-input full-width">
                        <input class="full-width" type="text" name="username" placeholder="" required />
                        <label for="username">Email or Username:</label>
                        <!-- <p class="error-message">Enter your email or username</p> -->
                    </div>
                </div>
                <div class="input-row">
                    <div class="fancy-input full-width">
                        <input class="full-width" type="password" name="password" placeholder="" required />
                        <label for="password">Password:</label>
                        <!-- <p class="error-message">Enter your password</p> -->
                    </div>
                </div>
                <p class="to-register">Don't have an account? <a href="{{url_for('register.register')}}">Register Here</a></p>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}