*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-purple-red: #642f37;
    --color-rust: #c0350f;
    --color-orange: #f3904b;
    --color-yellow: #f7c767;
    --color-purple: #b89dbb;
    --color-white: #cdc5ce;
}