<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/318fe15147.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>The Study Stack</title>
    <link rel="icon" type="image/png" href="/static/images/logo_multi_w_bckgr.png"/>
</head>
<body>
    <header class="headerWrapper">
        <!-- logo, directory, search, home, my account, sign in, cart -->
        <div class="headerContainer">
            <div class="headerSection logo">
                <!-- logo -->
                 <div class="headerItemLogo">
                    <img src="/static/images/logo-multi.png" alt="Textbooks-icon" id="headerLogo">
                    <a href="/home">The Study Stack</a>
                 </div>
            </div>
            <!-- <div class="headerSection directory">
                 <div class="headerItemDirectory">
                    <select name="products" id="prodDirectory">
                        <option value="textbook">Textbooks</option>
                        <option value="supplies">School supplies</option>
                        <option value="office">Office furniture</option>
                        <option value="classroom">Classroom furniture</option>
                        <option value="technology">Technology</option>
                    </select>
                 </div>
            </div> -->
            <div class="headerSection search">
                <!-- search -->
                 <form class="headerItemSearch searchPosition" id="search-form" method="POST" action="{{ url_for('search') }}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="product_search" id="search" placeholder="search">
                    <i class="fa-regular fa-circle-xmark"></i> 
                 </form>
            </div>
            <nav class="headerSection nav">
                <ol class="navMenu">
                    <li class="navItem">
                        <a href="/home">Home <i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="navItem">
                        <a href="#">Account <i class="fa-solid fa-circle-user"></i></a>
                    </li>
                    <li class="navItem">
                        <a href="/login">Sign in <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </li>
                    <li class="navItem">
                        <a href="#">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ol>
            </nav>
        </div>
        <nav class="headerDirectory">
            <ol class="prodNavMenu">
                <li class="prodNavItem">
                    <a href="#" class="hoverAnimation">Textbooks</a>
                </li>
                <li class="prodNavItem">
                    <a href="#" class="hoverAnimation">School supplies</a>
                </li>
                <li class="prodNavItem">
                    <a href="#" class="hoverAnimation">Office furniture</a>
                </li>
                <li class="prodNavItem">
                    <a href="#" class="hoverAnimation">Classroom furniture</a>
                </li>
                <li class="prodNavItem">
                    <a href="#" class="hoverAnimation">Technology</a>
                </li>
            </ol>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="footerWrapper">
        <div class="footerContainer">
            <nav class="footerDirectory">
                <ol class="footerNavMenu">
                    <li class="footerNavItem"><a href="#">Careers</a></li>
                    <li class="footerNavItem"><a href="#">Sell Your Products</a></li>
                    <li class="footerNavItem"><a href="#">Privacy Notice</a></li>
                    <li class="footerNavItem"><a href="#">Terms of Use</a></li>
                </ol>
            </nav>
            <div class="footerLegal">
                <p>&copy; 2025 The Study Stack, Inc.</p>
            </div>
        </div>
        <div class="footerSocial">
            <div class="footerContact">
                <h5>Contact us on social media or by email at <span id="email">admin@thestudystack.com</span></h5>
            </div>
            <div class="contactIcons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-threads"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-google"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </footer>
</body>
</html>