
<link rel="stylesheet" href="/static/styles/home.css">
{% extends 'base.html' %}
{% block body %}
<main>
    <div class="main">
        <section class="productsContainer">
            <h2 class="productsTitle">Explore our products</h2>
            <div class="productWrapper">
                <div class="prodTextbooks"></div>
                <div class="prodSchSupplies"></div>
                <div class="prodOffFurniture"></div>
                <div class="prodClssFurniture"></div>
                <div class="prodTech"></div>
            </div>
        </section>
        <!-- <section class="carousel">
            <section class="carouselTitle">placeholder</section>
        </section> -->
    </div>
</main>
{% endblock %}