
<link rel="stylesheet" href="/static/styles/home.css">
{% extends 'base.html' %}
{% block body %}
<main>
    <div class="main">
        <section class="productsContainer">
            <!-- <h2 class="productsTitle">Explore our products</h2> -->
            <div class="productWrapper">
                <div class="prodTextbooks floatItem">
                    <h3 class="prodHeadline">Fastrack learning</h3>
                    <a href="#" class="prodSubCTA">Explore textbooks <span class="arrow"></span></a>
                </div>
                <div class="prodClssFurniture floatItem">
                    <h3 class="prodHeadline">Create the perfect learning space</h3>
                    <a href="#" class="prodSubCTA">Explore classroom furniture <span class="arrow"></span></a>
                </div>
                <div class="prodSchSupplies floatItem">
                    <h3 class="prodHeadline">Shop learning supplies </h3>
                    <a href="#" class="prodSubCTA">Explore school essentials <span class="arrow"></span></a>
                </div>
                <div class="prodOffFurniture floatItem">
                    <h3 class="prodHeadline">Search office upgrades</h3>
                    <a href="#" class="prodSubCTA">Explore office furniture <span class="arrow"></span></a>
                </div>
                <div class="extra floatItem">
                    <h3 class="prodHeadline">Shop smart - save more</h3>
                    <a href="#" class="prodSubCTA">Explore discounts <span class="arrow"></span></a>
                </div>
                <div class="prodTech floatItem">
                    <h3 class="prodHeadline">Power up with the latest tech</h3>
                    <a href="#" class="prodSubCTA">Explore classroom and office electronics <span class="arrow"></span></a>
                </div>
            </div>
        </section>
        <!-- <section class="carousel">
            <section class="carouselTitle">placeholder</section>
        </section> -->
    </div>
</main>
{% endblock %}