<link rel="stylesheet" href="/static/styles/styles.css">
<script src="/static/scripts/product.js" defer></script>
{% extends 'base.html' %}
{% block body %}
    <div class="full-height full-width">
        <div class="product-container">

            <div class="product-image-container">
                <img class="product-img" src="{{imageData[0][ii['file_path']]}}">
                <div class="product-img-select">
                    {% for image in imageData %}
                        <div class="product-img-small">
                            <img src="{{image[ii['file_path']]}}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="product-info-container">
                <h1 class="product-title">{{productData[pi['product_title']]}}</h1>
                <p class="vendor-username">Vendor: {{productData[pi['username']]}}</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <p class="product-rating-num">3.2</p>
                </div>

                <div class="product-separator"></div> 


                <div class="flex flex-between">
                    {% if allDiscountData[variantData['variant_id']] and 
                        allDiscountData[variantData['variant_id']] < variantData[vi['price']] %}
                        <h3 class="product-price">${{ allDiscountData[variantData['variant_id']]|priceFormat }}</h3>
                    {% else %}
                        <h3 class="product-price">${{ variantData[vi['price']]|priceFormat }}</h3>
                    {% endif %}
                    {% if error %}
                        <p class="error product-small-font">{{error}}</p>
                    {% endif %}
                    <form action="" method="POST" class="product-cart-form">
                        <input type="number" name="number" value="1" min="1" max="100" onchange="checkNum(this)">
                        <input type="submit" class="btn" value="Add To Cart">
                    </form>
                </div>
                {% if allDiscountData[variantData['variant_id']] and 
                    allDiscountData[variantData['variant_id']] < variantData[vi['price']] %}
                    <p class="product-list-price">List Price: <s>${{ variantData[vi['price']]|priceFormat }}</s></p>
                {% endif %}

                <p class="product-size-selected product-small-font">Size: <a id="size-selected">{{variantData[vi['size_description']]}}</a></p>
                <p class="product-color-selected product-small-font">
                    Color: <a id="color-selected">{{variantData[vi['color_name']]}}</a>
                    {% if variantData[vi['color_hex']] != 'NULL' %}
                        <a class="product-color-box" style="background-color: {{variantData[vi['color_hex']]}}"></a>
                    {% endif %}
                </p>
                <div class="product-sizes-container">
                    {% for variant in allVariantData %}
                    <a class="variant-size-container" href="/product/{{variant[vi['product_id']]}}/{{variant[vi['variant_id']]}}">
                        <div class="variant-color-size">
                            <p class="variant-size">{{variant[vi['size_description']]}}</p>
                            <p class="variant-color">{{variant[vi['color_name']]}}</p>
                        </div>
                        <div class="variant-separator"></div>
                    {% if variantData[vi['color_hex']] != 'NULL' %}
                        <p class="variant-color-back" style="background-color: {{variant[vi['color_hex']]}}"></p>
                    {% endif %}
                        <div class="variant-separator"></div>
                        <p class="variant-price">${{ variant[vi['price']]|priceFormat }}</p>
                    </a>
                    {% endfor %}
                </div>

                <h2 class="product-description-h2 top-margin">Description</h2>
                <p class="product-description top-margin product-small-font">{{productData[pi['product_description']]}}</p>
                {% if productData[pi['warranty_months']] > 0 %}
                    <p class="product-warranty top-margin product-small">
                        This product has a {{productData[pi['warranty_months']]}} month warranty
                    </p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}