*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-purple-red: #642f37;
    --color-rust: #c0350f;
    --color-orange: #f3904b;
    --color-yellow: #f7c767;
    --color-purple: #b89dbb;
    --color-dark-purple: #a17ea5;
    --color-error-red: #9b0120;
    --color-success-green: #28b40d;
    --color-blue: #197bff;
    --page-height: calc(100vh - 125px - 103px);
    --color-purple-white: #f7f2f7;
    --color-red-white: #dbc0c0;
    --color-white: #fffaf4;
    /* --color-purple-transparent: #b89dbbc0; */
    /* --color-red-transparent: #642f37c0; */
    --font-header: 'Lexend Deca';
    --font-main: 'Zain';
}

/* Order properties:
+-------------------+
|      display      |
|     properties    |
|                   |
|      margin       |
|                   |
|  +---border----+  |
|  |             |  |
|  |  background |  |
|  |    color    |  |
|  |             |  |
|  |   padding   |  |
|  |             |  |
|  |  +-------+  |  |
|  |  | height|  |  |
|  |  | width |  |  |
|  |  | list  |  |  |
|  |  | text  |  |  |
|  |  | color |  |  |
|  |  | font  |  |  |
|  |  | cursor|  |  |
|  |  +-------+  |  |
|  +-------------+  |
+-------------------+ 
*/


/* ------------------- */
/* -- HEADER STYLES -- */
/* ------------------- */

/* -- @media monitor / wide screen -- */
.headerWrapper{
    margin-bottom: 20px;
    height: fit-content;
    width: 100%;
    text-transform: uppercase;
    font-family: var(--font-header);
    font-weight: 600;
    font-size: 20px;
}

/* -- header container styles -- */
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-purple-red);
    height: 75px;
    width: 100%;
    padding: 10px;
}

.headerSection{
    height: 100%;
    width: fit-content;
}

.logo{
    padding: 0 5px;
    width: 20%;
}
.directory{
    padding: 0 5px;
    width: 20%;
}
.search{
    padding: 0 5px;
    width: 25%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headerItemLogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.headerItemLogo > a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 32px;
    font-weight: 800;
}
.headerItemLogo > a:hover{
    color: var(--color-rust);
}

#headerLogo{
    height: 50px;
}

.headerItemDirectory{
    height: 100%;
    width: 100%;
}

#prodDirectory{
    height: 85%;
    width: 100%;
    font-family: var(--font-header);
    font-size: 20px;
}

/* -- begin search bar styles-- */
.headerItemSearch{
    display: block;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
#search{
    border: none;
    border-radius: 25px;
    padding: 0 40px;
    height: 85%;
    width: 100%;
    font-size: 20px;
}
.fa-magnifying-glass{
    position: absolute;
    top: 15px;
    left: 25px;
    transform: translate(-50%);
    color: var(--color-purple);
}
.fa-circle-xmark{
    position: absolute;
    top: 15px;
    right: 0;
    transform: translate(-50%);
    color: var(--color-purple);
}
/* -- end search styles -- */

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    width: fit-content;
    list-style: none;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 500;
}

.navItem > a{
    text-decoration: none;
    color: var(--color-white);
}

.navItem > a:hover{
    color: var(--color-rust);
}

.fa-house,
.fa-circle-user,
.fa-arrow-right-to-bracket,
.fa-cart-shopping{
    font-size: 19px;
}

/* -- header directory styles -- */
.headerDirectory{
    background-color: #b89dbb;
    height: 50px;
}

/* -- subheader styles -- */
.prodNavMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.prodNavItem{
    list-style: none;
    font-weight: 400;
}

.hoverAnimation{
    display: inline-block;
    position: relative;
}
.hoverAnimation::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    height: 2px;
    width: 100%;
    background-color: var(--color-rust);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
.hoverAnimation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}

.prodNavItem > a{
    text-decoration: none;
    color: var(--color-purple-red);
}
.prodNavItem > a:hover{
    color: var(--color-rust);
    transition: transform 0.25s ease-out;
}


/* ------------------- */
/* -- FOOTER STYLES -- */
/* ------------------- */

.footerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: var(--color-purple-red);
    padding: 25px 50px;
    height: fit-content;
    width: 100%;
    font-family: var(--font-header);
}

/* -- start social styles -- */
.footerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.footerContact{
    display: flex;
    align-self: center;
    margin: auto;
    width: fit-content;
    color: #b89dbb;
}
.footerContact > h5{
    font-size: 16px;
    font-weight: 300;
}
#email{
    width: 100%;
    color: var(--color-rust);
}
.contactIcons{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 55%;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-threads,
.fa-google,
.fa-youtube{
    color: var(--color-purple);
    font-size: 20px;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-threads:hover,
.fa-google:hover,
.fa-youtube:hover{
    color: var(--color-rust);
    transition: transform 1s;
}
/* -- end social styles -- */

/* -- start container styles --  */
.footerContainer{
    display: grid;
    grid-template-columns: 580px;
    row-gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.footerDirectory{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.footerNavMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.footerNavItem{
    list-style: none;
}

.footerNavItem > a{
    text-decoration: none;
    color: var(--color-purple);
}
.footerNavItem > a:hover{
    color: var(--color-rust);
}

.footerLegal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-rust);
    font-size: 14px;
    font-weight: 500;
}
/* -- end container styles -- */

/* -- @media laptop / small screen -- */
@media screen and (max-width: 1540px){
    .headerWrapper{
        font-family: var(--font-header);
        font-weight: 500;
        font-size: 18px;
    }
    
    .logo{
        width: 25%;
    }
    .directory{
        width: 15%;
    }
    .search{
        width: 25%;
    }

    /* -- header logo -- */
    .headerItemLogo > a{
        font-size: 28px;
        font-weight: 700;
    }
    
    /* -- directory -- */
    #prodDirectory{
        font-size: 20px;
    }
    /* -- search bar -- */
    .fa-magnifying-glass{
        top: 15px;
        font-size: 20px;
    }
    .fa-circle-xmark{
        top: 15px;
        font-size: 20px;
    }
    .navItem{
        margin: 0 10px;
    }
    /* -- sub header -- */
    .prodNavMenu{
        font-size: 20px;
    }
    
    /* -- FOOTER STYLES -- */
    /* -- start social styles -- */
    .footerSocial{
        width: 50%;
    }
    
    .footerContact > h5{
        margin-bottom: 5px;
        font-size: 17px;
    }
    .contactIcons{
        width: 55%;
    }
    
    .fa-facebook,
    .fa-twitter,
    .fa-instagram,
    .fa-threads,
    .fa-google,
    .fa-youtube{
        font-size: 19px;
    }
    /* -- end social styles -- */
    
    /* -- start container styles --  */
    .footerContainer{
        grid-template-columns: 540px;
        row-gap: 5px;
        width: 50%;
    }
    
    .footerNavMenu{
        font-size: 17px;
    }
    
    .footerLegal{
        font-size: 14px;
    }
}