@import url(base.css);

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

h1 {
    font-family: var(--font-main);
    font-size: 2rem;
}

.error {
    color: var(--color-error-red);
    margin-bottom: 20px;
}

.success {
    color: var(--color-success-green);
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: var(--page-height);
    background-color: #fff;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-purple-white);
    padding: 2rem;
    border-radius: 5px;

}

.btn {
    border-radius: 15px;
    border-top: 1px solid var(--color-purple);
    border-left: 1px solid var(--color-purple);
    border-right: 1px solid var(--color-dark-purple);
    border-bottom: 1px solid var(--color-dark-purple);
    background-color: var(--color-purple);
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-purple-white);
    font-family: var(--font-small);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-dark-purple);
}

.btn-delete {
    background-color: var(--color-error-red);
    border: 0;
}

.btn-delete:hover {
    background-color: var(--color-error-red);
    filter: brightness(90%);
}

.full-height {
    min-height: var(--page-height);
}

.full-width {
    width: 100%;
    /* background-color: var(--color-purple-white); */
    color: var(--color-purple-red);
    font-family: var(--font-header);
    font-weight: 400;
}

.space {
    margin: 0 10px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-margin {
    margin-top: 1rem;
}

.padding-top {
    padding-top: 1rem;
}

/* error-message probably not needed (for fancy-input) */
.error-message {
    position: absolute;
    display: none;
    font-size: .7rem;
    top: 30px;
    color: var(--color-error-red);
}

.fancy-input {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}

.fancy-input input,
.fancy-input select {
    z-index: 1;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid var(--color-purple-red);
    background-color: transparent;
    transition: 0.2s;
}

.fancy-input input:focus {
    outline: none;
    border-color: var(--color-blue);
}

.fancy-input label {
    position: absolute;
    top: 0;
    left: 0px;
    transition: 0.2s;
}

.fancy-input input:focus + label,
.fancy-input input:not(:placeholder-shown) + label,
.label-shown {
    font-size: 90%;
    top: -15px !important;
}

.fancy-input input:focus + label {
    color: var(--blue);
}
  

/* -- LOGIN / SIGNUP START -- */

.login-h1 {
    margin-bottom: 2rem;
    color: var(--color-purple-red);
    font-family: var(--font-header);
    font-weight: 600;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: var(--page-height);
    background-color: #fff;
}

.login-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-purple-white);
    padding: 2rem;
    border-radius: 5px;

}

.login-form button[type='submit'] {
    width: 100%;
}

.to-register {
    margin-bottom: .5rem;
    color: var(--color-dark-purple);
    font-family: var(--font-small);
}
.to-register > a{
    color: var(--color-rust);
    text-decoration: none;
}

/* -- LOGIN / SIGNUP END -- */


/* -- PRODUCT PAGE START -- */

.product-small-font {
    font-size: 1rem;
}

.product-container {
    display: flex;
    justify-content: center;
    font-family: var(--font-main);
    font-size: 20px;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 500px;
}

.product-img {
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    /* background-size: contain; */
}

.product-img-select {
    display: flex;
    overflow-x: auto;
    /* height: 100px; */
}

.product-img-small {
    flex: 0 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    margin-right: 4px;
}

.product-img-small img {
    height: 100px;
    width: 100px;
    transition: transform 0.2s
}

.product-img-small img:hover {
    transform: scale(1.1);
}

.product-info-container {
    background-color: var(--color-white);
    /* height: 400px; */
    min-width: 500px;
    width: 600px;
    padding: .5rem;
}

.vendor-username {
    margin-bottom: .4rem;
}

.product-rating {
    display: flex;
}

.star-orange {
    font-size: 18px;
    color: orange;
    padding: 1px;
}

.star-gray {
    font-size: 18px;
    color: gray;
    padding: 1px;
}

.product-rating-num {
    margin-left: .5rem;
}

.product-separator {
    margin: .25rem auto 1rem auto;
    height: 1px;
    width: 100%;
    background-color: var(--color-purple);
}

.product-cart-form {
    display: flex;
    flex-wrap: nowrap;
}

.product-cart-form input[type='number'] {
    width: 60px; 
    padding: .5rem;
    background-color: var(--color-purple);
    margin-right: .25rem;
    border-top: 1px solid var(--color-purple);
    border-left: 1px solid var(--color-purple);
    border-right: 1px solid var(--color-dark-purple);
    border-bottom: 1px solid var(--color-dark-purple);

}

.product-size-selected {
    margin-top: 1rem;
}

#size-selected,
#color-selected {
    font-weight: 800;
}

.product-color-box {
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 4px;
}

.product-sizes-container {
    display: flex;
    flex-wrap: wrap;
}

.variant-size-container {
    text-decoration: none;
    color: black;
    margin: .25rem;
    border: 1px solid black;
    border-radius: 10px;
}

.variant-size,
.variant-color {
    font-size: .8rem;
    overflow: hidden;
    font-weight: 700;
    white-space: nowrap;
}

.variant-price {
    font-size: .8rem;
}

.variant-color-size,
.variant-price {
    margin: .25rem;
    width: 75;
    height: 35;
}

.variant-separator {
    display: inline-block;
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
}

.variant-color-back {
    height: 10px;
}

.review-delete {
    position: absolute;
    top: 0px;
    right: 0px;
}

.product-reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    margin: 6rem 0;
    padding: 2rem;
    font-family: var(--font-main);
    font-size: 16px;
}

.product-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-h {
    margin-bottom: 2rem;
}

.product-reviews-background {
    background-color: var(--color-red-white);
    width: 100%;
    margin: .25rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.product-reviews-inner-background {
    background-color: var(--color-white);
    padding: 4px;
    border-radius: 5px;
}

.product-reviews-arrange {
    display: flex;
    justify-content: center;
}

.product-reviews-arrange label {
    margin-left: 1rem;
}

.product-reviews-arrange select {
    margin-right: 1rem;
}

.product-review-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-review-name {
    margin-right: 1rem;
}

.product-review-stars {
    margin-right: 1rem;
}

.product-review-description {
    margin-top: 1rem;
}

.product-review-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 1rem;
}

.product-review-image img {
    max-width: 400px;
    max-height: 200px;
}

.product-reviews-create h2 {
    text-align: center
}

.create-review-container {
    display: flex;
}

.create-review-container label {
    display: inline;
}

.create-review-rating-container,
.create-review-description-container,
.create-review-url-container {
    flex-direction: column;
    text-align: center;
}

.create-review-rating-container {
}

.create-review-description-container {
    flex: 1 1 auto;
}

.create-review-url-container {
    flex-direction: column;
    flex: 1 1 auto;
}

.rating {
    margin-right: 20px;
}

/* reviews star styling */
.rating div {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 20px; 
}

.rating div > label {
    position: absolute;
    cursor: pointer;
}

.rating div:hover ~ div .orange,
.rating div:hover ~ .orange,
.rating input[type='radio']:checked .orange,
.rating div:has(input[type='radio']:checked) ~ div .orange {
    display: none;
}

/* -- PRODUCT PAGE END -- */



/* PRODUCT MANAGE START */

.vendor-select {
    justify-content: center;
    margin-top: 2rem;
}

.manage-create-container {
    display: flex;
    flex-direction: column; 
    max-width: 80vw;
    align-items: center;
    margin: 0 auto;
}

.manage-create-container h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.product-data {
    margin: 1rem auto;
    flex-direction: column;
    max-width: 80vw;
}

.product-id {
    margin-bottom: 2rem;
}

.product-delete {
    margin-top: .5rem;
}

.product-delete input[type='submit'] {
    background-color: var(--color-error-red);
    border-color: var(--color-error-red);
}

.product-delete .p-delete {
    width: 13rem;
}

.variant-modify-table {
    margin-top: 2rem;
    overflow: auto;
    display: block;
}

.variant-background {
    background-color: var(--color-purple-white);
    overflow: hidden;
}

.variant-create {
    margin-top: 1.5rem;
}

.variant-edit-delete {
    width: 60px;
}

.color-check {
    display: block;
    margin-bottom: 1rem;
}

.image-btn {
    margin-bottom: 1.5rem;
}

.manage-discount-form h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.discount-hint {
    margin-bottom: 1.5rem;
}

.discount-row {
    justify-content: flex-start;
}

.discount-padding {
    padding-right: .5rem;
    margin-bottom: 0;
}

.variant-select {
    max-width: 200px;
}

/* PRODUCT MANAGE END */

/* COMPLAINT START */

.complaint-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin: 10px auto;
    max-width: 100vw;
    flex-wrap: wrap;
}

.complaint-desc-view {
    max-width: 600px;
    overflow: hidden;
}

.complaint-desc {
    resize: none;
}

/* COMPLAINT END */