@import url(/static/styles/base.css);
@import url(/static/styles/ionicons.css);

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--color-purple-white);
    width: 1210px;
}

.cartWrapper{
    width: 100%;
    font-family: var(--font-main);
}

.cartContainer{
    display: grid;
    grid-template-columns: 800px 400px;
    /* grid-template-rows: ; */
    /* justify-content: space-between; */
    width: 1200px;
}

.cartItemsContainer{
    margin-top: 10px;
    min-height: 600px;
    width: 800px;
}
.cartItemsContainerHeader{
    display: grid;
    grid-template-columns: 500px 150px 150px;
    width: 100%;
    font-size: 15px;
}
.cartItem{
    display: grid;
    grid-template-columns: 500px 150px 150px;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    align-items: center;
    width: 100%;
    font-size: 15px;
    font-family: var(--font-main);
}
.qd{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.delete-btn{
    border: none;
    background-color: transparent;
}

.cartItem > h3 {
    font-size: 20px;
    font-weight: 600;
}
.cartItemItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.cartItemItem > img{
    height: 70px;
    width: 70px;
}
#quantity{
    height: 40px;
    width: 40px;
}
#apply{
    display: none;
    text-transform: uppercase;
    font-family: var(--font-small);
    font-size: 12px;
}

.cartSideMenu{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 30px 30px 30px 40px;
    padding: 10px 15px;
    height: fit-content;
    width: 370px;
    background-color: #fff;
}
.subTitle{
    margin-top: 10px;
    font-size: 17px;
}
.title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
#submitOrderBtn{
    border: none;
    border-radius: 15px;
    background-color: var(--color-yellow);
    padding: 4px 6px;
    text-transform: uppercase;
    font-family: var(--font-small);
    font-size: 15px;
    font-weight: 500;
}
.error{
    color: var(--color-error-red);
    font-size: 14px;
}


/* -- ion icon styles -- */
.ion-trash-b{
    height: 36px;
    width: 36px;
    color: var(--color-rust);
    font-size: 35px;
    cursor: pointer;
}