<link rel="stylesheet" href="../static_search/styles/search.css">
{% extends 'base.html' %}
{% block body %}
<main>
    <div class="main">
        <section class="searchResults">
            <div class="searchWrapper">
                {% if userInput is not none %}
                    <h2 class="searchTitle">Results for: {{ userInput }}</h2>
                {% else %}
                    <h2 class="searchTitle">No matches</h2>
                    <h4 class="searchSubTitle">Try checking out some of our other products</h4>
                {% endif %}
                <h5 class="message"></h5>
                <div class="sideMenu">
                    <form class="clearFilters" style="display: {{ clearDisplay }};" id="clear">
                        {% for vendor in checkedVendors %}
                            <div class="filter-item">{{ vendor[1] }}</div>
                        {% endfor %}
                        {% if checkedCategories %}
                        {% for value in checkedCategories.values() %}
                            <div class="filter-item">{{ value }}</div>
                        {% endfor %}
                        {% endif %}
                        <div class="filter-item">$0 &mdash; ${{ priceValue }}</div>
                        <button class="clearBtn" type="submit" form="clear">Clear Filters</button>               <!-- shows error lines but still works-->
                    </form>
                    <form action="{{ url_for('search.search') }}" method="POST" id="formSearch">    
                        <div class="vendors">
                            <button class="vendor initiate-drop">Vendors <i class="ion-chevron-down"></i></button>
                            <div class="vendor-dropdown dropdown">
                                <div class="input-container" name="vendor" id="vendor-search">
                                    <!-- {% if vendors %} -->
                                    {% for vendor in vendors %}
                                        <input name="vendor-options" type="checkbox" id="{{ vendor[0] }}" class="vendor-options" value="{{ vendor[0] }}">
                                        <label for="{{ vendor[0] }}">{{ vendor[1] }}</label>
                                    {% endfor %}
                                    <!-- {% endif %} -->
                                </div>
                            </div>
                        </div>
                        <div class="categories">
                            <button class="category initiate-drop">Categories <i class="ion-chevron-down"></i></button>
                            <div class="dropdown">
                                <div class="furniture-drop">
                                    <button class="initiate-drop second-drop">Classroom & School <i class="ion-chevron-down"></i></button>
                                    <div class="furniture dropdown">
                                        <div class="input-container">
                                            {% for cat_num, cat_name in categories.SC %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                            {% for cat_num, cat_name in categories.SO %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="supplies-drop">    
                                    <button class="initiate-drop second-drop">Office <i class="ion-chevron-down"></i></button>
                                    <div class="dropdown">
                                        <div class="input-container">
                                            {% for cat_num, cat_name in categories.OF %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                            {% for cat_num, cat_name in categories.SO %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>    
                                <div class="technology-drop">
                                    <button class="initiate-drop second-drop">Technology <i class="ion-chevron-down"></i></button>
                                    <div class="dropdown">
                                        <div class="input-container">
                                            {% for cat_num, cat_name in categories.TC %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="textbook-drop">
                                    <button class="initiate-drop second-drop">Textbooks <i class="ion-chevron-down"></i></button>
                                    <div class="dropdown">
                                        <div class="input-container">
                                            {% for cat_num, cat_name in categories.TX %}
                                                <input type="checkbox" name="categories" id="{{ cat_num }}" value="{{ cat_num }}">
                                                <label for="{{ cat_num }}">{{ cat_name }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                        <div class="prices">
                            <button class="price initiate-drop">Price <i class="ion-chevron-down"></i></button>
                            <div class="price-dropdown dropdown">
                                <div class="price-slider" name="price-form" id="price-form">
                                    <p id="price-display"></p>
                                    <input type="range" min="0" max="1000" step="0.01" value="{{ priceValue }}" class="slider" id="price" name="price">
                                </div>
                                <!-- <div class="submit-wrapper">
                                    <input type="submit" class="submit-apply" form="price-form" value="Apply">
                                </div> -->
                            </div>
                        </div>
                        <div class="colors"></div>
                        <div class="sizes"></div>
                        <div class="submit-wrapper">
                            <input type="submit" class="submit-apply" form="formSearch" value="Apply">
                        </div>
                    </form>
                </div>
                <div class="resultWrapper">
                    <div class="prodResult">
                        {% for product in products %}
                            {% if product.display == True %}
                                <a href="{{ url_for('product.product', product_id = product.id, variant_id = product.vid) }}" class="resultCard {{ product.id }} {{ product.vendor }}">
                                    <div class="imgWrapper">
                                        <div class="iconWrapper">
                                            <i class="ion-search"></i>
                                        </div>
                                        <img style="object-fit: cover;" src="{{ product.photo }}" alt="" class="cardImg">
                                    </div>
                                    <div class="prodInfo">
                                        <p style="font-weight: 800;">{{ product.title }}</p>
                                        <p>{{ product.size }}</p>
                                        <p>{{ product.options }} options</p>
                                        <p>{{ product.price }}</p>
                                        <!-- <p>{{ product.category }}</p> -->
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // search dropdowns
        document.querySelectorAll('.initiate-drop').forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault()
                let dropdown = button.parentElement.querySelector('.dropdown');
                if (dropdown) {
                    let isVisible = dropdown.style.display === 'grid';
                    dropdown.style.display = isVisible ? 'none' : 'grid';
                }
            });
        });

        // price slider
        let slider = document.querySelector('#price');
        let display = document.querySelector('#price-display');
        display.innerHTML = `$${slider.value}`;
        slider.addEventListener('input', slider => {
            display.innerHTML = `$${slider.target.value}`
        })
    });
</script>
{% endblock %}